@font-face
{
  font-family: courier-prime-regular;
  src: url('../fonts/courier-prime/CourierPrime-Regular.ttf');
}

:root
{
  font-size: 16px;
}

*
{
  margin: 0;
  padding: 0;
}

html
{
  height: 100%;
}

body
{
  min-height: 100%;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 32, 41);
}

main
{
  display: flex;
  background-color: rgb(13, 101, 112);
}

#info
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(203, 222, 228);
  color: rgb(1, 26, 34);
  font-family: courier-prime-regular, 'Courier New', Courier, monospace;
}

#greetings,
#presentation
{
  font-weight: bold;
}

#greetings
{
  color: rgb(6, 44, 56);
}

#name,
#contact-info a
{
  color: rgb(13, 101, 112);
}

#contact-info a
{
  font-weight: bold;
  text-decoration: none;
}

#download-cv
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#download-cv a
{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(13, 101, 112);
  color: aliceblue;
  text-decoration: none;
}

#download-cv a::before
{
  display: inline-block;
  content: '';
  background-image: url(../images/icons/download.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sideboard
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#photo
{
  border-radius: 50% 50%;
  background-image: url(../images/plush_alterego.png);
  background-size: cover;
}

#places
{
  display: flex;
  flex-direction: row;
}

#places a::before
{
  display: inline-block;
  content: '';
  border-radius: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
}

#places a:hover::before
{
  background-color: rgb(3, 32, 41);
}

#places a.github::before
{
  background-image: url(../images/icons/github.svg);
}

#places a.linkedin::before
{
  background-image: url(../images/icons/linkedin.svg);
}

#places a.twitter::before
{
  background-image: url(../images/icons/twitter.svg);
}

#places a.facebook::before
{
  background-image: url(../images/icons/facebook.svg);
}

#places a.instagram::before
{
  background-image: url(../images/icons/instagram.svg);
}

@media (orientation: portrait) {
  main
  {
    flex-direction: column-reverse;
  }

  #sideboard
  {
    justify-content: center;
    gap: 3vw;
  }
}

@media (orientation: landscape) {
  main
  {
    flex-direction: row;
  }

  #info
  {
    flex: 4;
  }

  #sideboard
  {
    flex: 3;
    justify-content: center;
    gap: 1.6em;
  }
}

@media (min-width: 0px)
{
  main
  {
    width: 90%;
  }

  main,
  #info
  {
    border-radius: 0.8em;
  }

  #info
  {
    padding: 4.4vw 4vw;
  }

  #greetings,
  #presentation
  {
    font-size: max(2vw, 2vh);
  }

  #intro,
  #info p,
  #contact-info
  {
    font-size: max(1.6vw, 1.6vh);
  }

  #intro
  {
    margin-top: 1vw;
  }

  #info p,
  #contact-info
  {
    margin: 4vw 0;
  }

  #download-cv a
  {
    gap: 0.6em;
    padding: 0.5em 0.6em;
    border-radius: 0.3em;
    font-size: max(1.8vw, 1.8vh);
  }

  #download-cv a::before
  {
    width: max(2vw, 2vh);
    height: max(2vw, 2vh);
  }

  #sideboard
  {
    padding: 1em 0;
  }

  #photo
  {
    width: max(6vh, 20vw);
    height: max(6vh, 20vw);
  }

  #places
  {
    gap: 2vw;
  }

  #places a::before
  {
    width: 4vw;
    height: 4vw;
    background-size: cover;
  }
}

@media (min-width: 500px)
{
  main
  {
    width: 90%;
  }

  main,
  #info
  {
    border-radius: 1em;
  }

  #info
  {
    padding: 2.2vw 3.6vw;
  }

  #intro
  {
    margin-top: 0.5vw;
  }

  #info p,
  #contact-info
  {
    margin: 2vw 0;
  }
}

@media (min-width: 1000px)
{
  main
  {
    width: 80%;
    max-width: 900px;
  }

  main,
  #info
  {
    border-radius: 1.2em;
  }

  #info
  {
    flex: 1;
    padding: 2em 3em;
  }

  #greetings,
  #presentation
  {
    font-size: 130%;
  }

  #intro,
  #info p,
  #contact-info
  {
    font-size: 100%;
  }

  #intro
  {
    margin-top: 0.7em;
  }

  #info p,
  #contact-info
  {
    margin: 1.4em 0;
  }

  #download-cv a
  {
    font-size: 115%;
  }

  #download-cv a::before
  {
    max-width: 20px;
    max-height: 20px;
  }

  #sideboard
  {
    flex: 1;
  }

  #photo
  {
    width: 20vw;
    height: 20vw;
    max-width: 250px;
    max-height: 250px;
  }

  #places
  {
    gap: 1.2em;
  }

  #places a::before
  {
    max-width: 40px;
    max-height: 40px;
  }
}
