body
{
  display: grid;
  grid-template-rows: 20vh 60vh 20vh;
  grid-template-columns: auto clamp(200px, 70vw, 1000px) auto;
  grid-template-areas: 
    ". . ."
    ". main ."
    ". . .";
  margin: 0;
  background-color: rgb(3, 32, 41);
}

main
{
  grid-area: main;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "info sideboard";
  border-radius: 1.6em;
  background-color: rgb(13, 101, 112);
}

#info
{
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1.6em;
  padding: 1vw 2vw;
  background-color: rgb(203, 222, 228);
  color: rgb(1, 26, 34);
  font-family: 'Courier New', Courier, monospace;
  overflow: auto;
}

#greetings,
#presentation
{
  font-size: 2vw;
  font-weight: bold;
}

#greetings
{
  color: rgb(6, 44, 56);
}

p
{
  margin-top: 0;
}

#name,
#contact-info a
{
  color: rgb(13, 101, 112);
}

#download-cv
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#download-cv a
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  padding: 0.5vw 0.7vw;
  border-radius: 1vw;
  background-color: rgb(13, 101, 112);
  color: aliceblue;
  font-size: 1.2vw;
  text-decoration: none;
}

#download-cv a::before
{
  display: inline-block;
  width: 1.6vw;
  height: 1.6vw;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/icons/download.svg);
}

#sideboard
{
  grid-area: sideboard;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0 1.6em 1.6em 0;
}

#contact-info a
{
  font-weight: bold;
  text-decoration: none;
}

#photo
{
  width: 15vw;
  height: 15vw;
  border-radius: 50% 50%;
  background-image: url(../images/plush_alterego.png);
  background-size: cover;
}

#places
{
  display: flex;
  flex-direction: row;
  gap: 1vw;
  border-radius: 30px;
}

#places a::before
{
  display: inline-block;
  width: 3vw;
  height: 3vw;
  content: '';
  border-radius: 50% 50%;
  background-size: 3.3vw;
  background-position: center;
  background-repeat: no-repeat;
}

#places a:hover::before
{
  background-color: rgb(3, 32, 41);
}

#places a.github::before
{
  background-image: url(../images/icons/github.svg);
}

#places a.linkedin::before
{
  background-image: url(../images/icons/linkedin.svg);
}

#places a.twitter::before
{
  background-image: url(../images/icons/twitter.svg);
}

#places a.facebook::before
{
  background-image: url(../images/icons/facebook.svg);
}

#places a.instagram::before
{
  background-image: url(../images/icons/instagram.svg);
}
