body
{
  display: grid;
  grid-template-columns: auto 20% 50% 20% auto;
  background-color: rgb(3, 32, 41);
  color: aliceblue;
}

a
{
  color: lightblue;
}

header,
footer,
nav,
#contents
{
  padding: 1em 0.6em;
}

nav
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.6em;
}

.navigation-item
{
  padding: 0.6em;
  border-radius: 0.4em;
  background-color: white;
}

.navigation-item a
{
  text-decoration: none;
  color: rgb(1, 26, 34);
}

main
{
  padding: 0.4em 1.4em;
  border-radius: 1.6em;
  background-color: rgb(203, 222, 228);
  color: rgb(1, 26, 34);
}

main a
{
  color: rgb(1, 60, 80);
}

@media only screen and (min-width: 0px) {
  header,
  nav,
  #contents,
  main,
  footer
  {
    grid-column-start: 2;
    grid-column-end: 5;
  }

  header
  {
    grid-row-start: 1;
  }

  nav
  {
    grid-row-start: 2;
  }

  #contents
  {
    grid-row-start: 3;
  }

  main
  {
    grid-row-start: 4;
  }

  footer
  {
    grid-row-start: 5;
  }
}

@media only screen and (min-width: 640px) {
  main, #contents
  {
    grid-row-start: 3;
  }

  #contents
  {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  main
  {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media only screen and (min-width: 1024px) {
  #contents
  {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  main
  {
    grid-column-start: 3;
    grid-column-end: 5;
  }
}
